<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/732188d8b2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/style.css" />
    <title>Airbnb</title>
  </head>
  <body>
    <!-- start main container -->
    <div class="container-fluid">
      <!-- header start -->
      <div class="header">
        <div class="logo">
          <img src="/images/airbnb.png" alt="airbnb logo" />
        </div>
        <div class="navbarMiddle">
          <ul>
            <li><a href="#">Anywhere</a></li>
            <span>|</span>
            <li><a href="#">Any week</a></li>
            <span>|</span>
            <li><a href="#" style="color: gray">Add guests</a></li>
            <span class="searchIcon"
              ><a href="#"
                ><i
                  class="fa-solid fa-magnifying-glass"
                  style="margin: 6px; color: white"
                ></i></a
            ></span>
          </ul>
        </div>
        <div class="navbarRight">
          <div class="navbarHost">
            <a href="/admin">Airbnb your home</a>
            <a href="#"><i class="fa-sharp fa-solid fa-globe"></i></a>
          </div>
          <!-- dropdown start -->
          <div class="dropdown">
            <a
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span style="margin: 10px; color: black">
                <i class="fa-solid fa-bars"></i>
                <i
                  class="fa-solid fa-user"
                  style="margin-left: 5px; color: black"
                ></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/login">LogIn</a></li>
              <li><a class="dropdown-item" href="/signup">Signup</a></li>
              <li><a class="dropdown-item" href="/logout">LogOut</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="/admin">Host your home</a></li>
              <li>
                <a class="dropdown-item" href="#">Host your Experience</a>
              </li>
              <li><a class="dropdown-item" href="/help">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- header section end -->
      <!-- image card section start -->
      <section class="container-fluid container">
        <div class="row">
          <%data.forEach((element)=>{%>
          <div class="col-sm-3 column">
            <div class="card">
              <a href="/details/<%=element._id%>"
                ><img
                  src="<%=element.images.picture_url%>"
                  class="card-img-top"
                  alt="..."
              /></a>
              <div class="card-body">
                <p class="card-text"><%=element.name%></p>
                <p class="card-text">
                  <i
                    class="fa-solid fa-indian-rupee-sign"
                    style="margin-top: 3px; font-size: 13px"
                  ></i
                  ><%=element.price%> night <span style="color: red; font-size: 20px; float: right;">&#9733 &#9733 &#9733 &#9733</span>
                </p>
              </div>
            </div>
          </div>
          <%});%>
         <!-- it's for admin booking card -->
           <%data2.forEach((ele)=>{%>
            <div class="col-sm-3 column">
              <div class="card">
                <a href="/adminBookingDetail/<%=ele.homename%>"
                  ><img
                    src="<%=ele.homeurl%>"
                    class="card-img-top"
                    alt="..."
                /></a>
                <div class="card-body">
                  <p class="card-text"><%=ele.homename%></p>
                  <p class="card-text">
                    <i
                      class="fa-solid fa-indian-rupee-sign"
                      style="margin-top: 3px; font-size: 13px"
                    ></i
                    ><%=ele.Price%> night <span style="color: red; font-size: 20px; float: right;">&#9733 &#9733 &#9733 &#9733</span>
                  </p>
                </div>
              </div>
            </div>
          <%});%> 
        </div>
      </section>
       <!-- image card section end -->
      <!-- start footer -->
      <div class="footer">
        <div class="footerLeft">
          <ul>
            <li><i class="fa-regular fa-copyright"></i> 2022Airbnb,Inc.</li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Company details</a></li>
            <li><a href="#">Destinations</a></li>
          </ul>
        </div>
        <div class="footerRight">
          <ul>
            <li>
              <a href="#"><i class="fa-sharp fa-solid fa-globe"></i></a>
            </li>
            <li><a href="#">English(IN)</a></li>
            <li>
              <a href="#"
                ><i
                  class="fa-solid fa-indian-rupee-sign"
                  style="margin-top: 5px"
                ></i>
                INR</a
              >
            </li>
            <li>
              <a href="#"
                >Support&resources
                <i class="fa-solid fa-angle-up" style="margin-left: 10px"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- here footer end -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
